<p-dialog header="Login" [draggable]="false"
          [resizable]="false" [(visible)]="visible" [style]="{ width: '25rem', height:'40rem' }">
  <div class="input-container">
    <label for="username" class="font-semibold">E-mail</label>
    <input pInputText id="username" class="flex-auto" autocomplete="off"/>
  </div>
  <div class="input-container">
    <label for="email" class="font-semibold">Password</label>
    <input pInputText id="email" class="flex-auto" autocomplete="off"/>
  </div>
  <a href="https://angular.dev/" target="_blank" rel="noopener noreferrer" class="sign-up-link font-bold">Forgot your
    password?</a>
  <div class="sign-in-btn-container">
    <p-button class="sign-in-btn" label="Cancel" severity="secondary" (onClick)="visible = false"/>
  </div>
  <div class="sign-up-link-container">
    <a href="https://angular.dev/" target="_blank" rel="noopener noreferrer" class="sign-up-link font-bold">Forgot your
      password?</a>
  </div>
</p-dialog>
