.input-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;

}

.sign-up-link {
  position: relative;
  bottom: 1.3rem;
  left: 30px;
}

.p-dialog .p-dialog-content {
  padding: 0 !important;
}

.sign-in-btn, .sign-up-link-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
