.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 10rem;
  width: 10rem;
  margin-left: 3rem;
}

.tab-menu-container {
  display: flex;
  margin-right: 3rem;
}

.p-tabmenu .p-tabmenu-nav {
  border: none !important;
}

.p-tabmenu-nav-content .p-menuitem-link {
  font-size: 24px;
  padding: 12px 48px;
}

.p-tabmenuitem.p-highlight .p-menuitem-link {
  border-color: transparent !important;
  box-shadow: none !important;
}

.p-tabmenuitem .p-menuitem-link:focus {
  box-shadow: none !important;
}

.p-tabmenuitem .p-menuitem-link:not(.p-disabled):focus {
  outline: none !important;
  box-shadow: none !important;
}

.tab-menu {
  width: 750px;
}

.p-tabmenu-nav {
  display: flex;
  justify-content: flex-end;
}
