<div class="login-container">
  <h2>Login</h2>
  <div>
    <img src="../src/assets/piggy.svg" alt="Image" width="100"/>
  </div>
  <div class="inputs">
  <div class="container">
    <h5>Username</h5>
    <input class="username" type="text" pInputText [(ngModel)]="value1">
    </div>
  <div class="container">
    <h5>Password</h5>
    <p-password  [(ngModel)]="value3" [toggleMask]="true"></p-password>
  </div>
  </div>
  <div class="login-btn">
    <p-button [disabled]="true" label="LOGIN"></p-button>
  </div>
</div>
