<div class="login-page">
  <div class="login">
<div class="login-container">
  <img src="../assets/img/logo.svg">
  <h3>Intra in contul tau</h3>
  <div>
  </div>
  <div class="inputs">
  <div class="container">
    <h5>E-mail</h5>
    <input class="username" type="text" pInputText [(ngModel)]="username">
    </div>
  <div class="container">
    <h5>Parola</h5>
    <input class="username" type="text" pInputText [(ngModel)]="password">
<!--    <p-password  [(ngModel)]="password" [toggleMask]="true"></p-password>-->
  </div>
  </div>
  <div class="login-btn">
    <p-button (onClick)="onLogin()" [disabled]="isDisabled" label="LOGIN" routerLink="home"></p-button>
  </div>
</div>
</div>
  <div class="login-image-container">
    <img class="login-image" src="../assets/img/login.jpg" alt="Image"/>
  </div>
</div>
