<div [ngClass]="{'side-menu-container': true, 'collapsed': collapsed}">
  <div class="toggle-btn-wrapper">
    <button class="toggle-arrow-btn" (click)="toggle()">
      <span [class]="collapsed ? 'pi pi-angle-right' : 'pi pi-angle-left'"></span>
    </button>
  </div>

  <p-menu [model]="items" styleClass="w-full">
    <ng-template pTemplate="start">
      @if (!collapsed) {
        <span class="inline-flex align-items-center gap-1 px-2 py-2">
          <span class="font-medium text-xl font-semibold">
            PRIME<span class="text-primary">APP</span>
          </span>
        </span>
      }
    </ng-template>
    <ng-template pTemplate="submenuheader" let-item>
      @if (!collapsed) {
        <span class="text-primary font-bold">{{ item.label }}</span>
      }
    </ng-template>
    <ng-template pTemplate="item" let-item>
      @if (collapsed) {
        <a pRipple class="menu-item-icon-only" [title]="item.label">
          <span [class]="item.icon + ' menu-icon'"></span>
        </a>
      } @else {
        <a pRipple class="flex align-items-center p-menuitem-link">
          <span [class]="item.icon"></span>
          <span class="menu-item-label">{{ item.label }}</span>
          @if (item.badge) {
            <p-badge class="ml-auto" [value]="item.badge" />
          }
        </a>
      }
    </ng-template>
    <ng-template pTemplate="end">
      @if (!collapsed) {
        <button pRipple class="relative overflow-hidden w-full p-link flex align-items-center p-2 pl-3 text-color hover:surface-200 border-noround">
          <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" class="mr-2" shape="circle" />
          <span class="inline-flex flex-column">
            <span class="font-bold">Amy Elsner</span>
            <span class="text-sm">Admin</span>
          </span>
        </button>
      }
    </ng-template>
  </p-menu>
</div>
