.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh; /* tot ecranul */
  position: relative;
}

.app-body {
  display: flex;
  flex: 1; /* tot spațiul rămas sub header */
  overflow: hidden;
}
.header-tab {
  height: 65px;
  background-color: #1e152a;
  display: flex;
  align-items: center;
  position: relative;
}

aside.side-menu {
  flex-shrink: 0;
  background: #fff;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);
  height: 100%;
  overflow: hidden;
}

.main-title {
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-left: 300px;
}

.add-btn {
  position: absolute;
  right: 60px;
  top: 12px;
  height: 20px;
}

.profile-btn {
  position: absolute;
  right: 12px;
  top: 8px;
}

.profile-btn .p-button {
  color: white;
}

.content {
  flex: 1;
  overflow-y: auto;
}
