<div class="app-layout">
  <div class="header-tab">
    <div class="main-title">{{ pageTitle }}</div>
    <p-menu #profileMenu [model]="profileItems" [popup]="true"></p-menu>
    <p-button
      class="profile-btn"
      icon="pi pi-user"
      styleClass="p-button-rounded p-button-text p-button-secondary"
      (onClick)="profileMenu.toggle($event)"
    ></p-button>
  </div>

  <div class="app-body">
    <aside class="side-menu">
      <app-side-menu></app-side-menu>
    </aside>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
