<p-dialog header="{{ 'LOGIN_DIALOG.TITLE' | translate }}" [draggable]="false" [modal]="true" [appendTo]="'body'"
          [resizable]="false" [(visible)]="visible" [style]="{ width: '25rem', height:'40rem' }"
          (onHide)="closeDialog()">
  <form [formGroup]="loginForm">
    <div class="input-container">
      <label for="login-email" class="font-semibold">{{ 'LOGIN_DIALOG.EMAIL' | translate }}</label>
      <input pInputText id="login-email" type="email" class="flex-auto" formControlName="email" autocomplete="email"/>
    </div>
    <div class="input-container">
      <label for="login-password" class="font-semibold">{{ 'LOGIN_DIALOG.PASSWORD' | translate }}</label>
      <input pInputText id="login-password" type="password" class="flex-auto" formControlName="password" autocomplete="current-password"/>
    </div>
  </form>
  <a href="#" class="forgot-pass font-bold">{{ 'LOGIN_DIALOG.FORGOT_PASSWORD' | translate }}</a>
  <div class="sign-in-btn-container">
    <p-button class="sign-in-btn" label="{{ 'BUTTON.SIGN_IN' | translate }}" severity="secondary" (onClick)="signIn()"/>
  </div>
  <div class="sign-up-link-container">
    <p>{{ 'LOGIN_DIALOG.NO_ACCOUNT' | translate }}</p>
    <a href="#" class="signup-link font-bold button-link" (click)="openSignupDialog($event)">
      {{ 'LOGIN_DIALOG.SIGNUP_NOW' | translate }}
    </a>
  </div>
</p-dialog>

<p-dialog header="{{ 'LOGIN_DIALOG.SIGNUP_TITLE' | translate }}" [appendTo]="'body'" [draggable]="false" [modal]="true"
          [resizable]="false" [(visible)]="signUpIsOpen" [style]="{ width: '25rem', height:'40rem' }"
          (onHide)="closeDialog()">
  <form class="form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="form-container">
      <span class="p-float-label">
        <input class="input" id="float-input-un" type="text" pInputText formControlName="username" autocomplete="username">
        <label for="float-input-un">{{ 'LOGIN_DIALOG.USERNAME' | translate }}</label>
      </span>
      <span class="p-float-label">
        <input class="input" id="float-input-email" type="email" pInputText formControlName="email" autocomplete="email">
        <label for="float-input-email">{{ 'LOGIN_DIALOG.EMAIL' | translate }}</label>
      </span>
      <div class="password">
        <p class="label">{{ 'LOGIN_DIALOG.PASSWORD' | translate }}</p>
        <p-password formControlName="password" [toggleMask]="true"></p-password>
      </div>
      <div class="password">
        <p class="label">{{ 'LOGIN_DIALOG.CONFIRM_PASSWORD' | translate }}</p>
        <p-password formControlName="passwordConfirmation" [toggleMask]="true" [feedback]="false"></p-password>
        <small *ngIf="signUpForm.hasError('passwordMismatch') && signUpForm.get('passwordConfirmation')?.touched" class="p-error">
          {{ 'LOGIN_DIALOG.PASSWORD_DONT_MATCH' | translate }}
        </small>
      </div>
      <div class="submit-btn">
        <button pButton type="submit" label="{{ 'BUTTON.SUBMIT' | translate }}"></button>
      </div>
    </div>
  </form>
</p-dialog>
