<p-dialog header="{{'LOGIN_DIALOG.TITLE' | translate}}" [draggable]="false" [modal]="true" [appendTo]="'body'"
          [resizable]="false" [(visible)]="visible" [style]="{ width: '25rem', height:'40rem' }"
          (onHide)="closeDialog()">
  <div class="input-container">
    <label for="username" class="font-semibold">{{ 'LOGIN_DIALOG.EMAIL' | translate }}</label>
    <input pInputText id="username" class="flex-auto" autocomplete="off"/>
  </div>
  <div class="input-container">
    <label for="email" class="font-semibold">{{ 'LOGIN_DIALOG.PASSWORD' | translate }}</label>
    <input pInputText id="email" class="flex-auto" autocomplete="off"/>
  </div>
  <a href="https://angular.dev/" target="_blank" rel="noopener noreferrer"
     class="forgot-pass font-bold">{{ 'LOGIN_DIALOG.FORGOT_PASSWORD' | translate }}</a>
  <div class="sign-in-btn-container">
    <p-button class="sign-in-btn" label="{{ 'BUTTON.SIGN_IN' | translate }}" severity="secondary" (onClick)="signIn()"/>
  </div>
  <div class="sign-up-link-container">
    <p>{{ 'LOGIN_DIALOG.NO_ACCOUNT' | translate }}</p><a href="#" class="signup-link font-bold button-link"
                                                         (click)="openSignupDialog($event)">Signup now!</a>
  </div>
</p-dialog>


<p-dialog header="Signup" [appendTo]="'body'" [draggable]="false" [modal]="true"
          [resizable]="false" [(visible)]="signUpIsOpen" [style]="{ width: '25rem', height:'40rem' }"
          (onHide)="closeDialog()">
  <div class="form" [formGroup]="signUpForm">
    <div class="form-container">
  <span class="p-float-label">
    <input class="input" id="float-input-un" type="text" pInputText formControlName="username">
    <label for="float-input-un">{{ 'LOGIN_DIALOG.USERNAME' | translate }}</label>
</span>
      <span class="p-float-label">
    <input class="input" id="float-input-email" type="text" pInputText formControlName="email">
    <label for="float-input-email">{{ 'LOGIN_DIALOG.EMAIL' | translate }}</label>
</span>

      <div class="password">
        <p class="label">{{ 'LOGIN_DIALOG.PASSWORD' | translate }}</p>
        <p-password formControlName="password" [toggleMask]="true"></p-password>
      </div>

      <div class="password">
        <p class="label">{{ 'LOGIN_DIALOG.CONFIRM_PASSWORD' | translate }}</p>
        <p-password class="password" formControlName="passwordConfirmation" [toggleMask]="true"></p-password>
        <div *ngIf="signUpForm.get('passwordConfirmation')?.invalid && signUpForm.get('passwordConfirmation')?.touched">
          <div *ngIf="signUpForm.hasError('passwordMismatch')">
            {{ 'LOGIN_DIALOG.PASSWORD_DONT_MATCH' | translate }}
          </div>
        </div>
      </div>
      <div class="submit-btn">
        <button pButton class="submit-btn" type="button" label="{{'BUTTON.SUBMIT' | translate}}"
                (click)="onSubmit()"></button>
      </div>
    </div>
  </div>
</p-dialog>
<!-- <app-sign-up></app-sign-up> -->
