/* You can add global styles to this file, and also import other style files */
/*.special-background {*/
/*  background-color: #ffeb3b; !* Yellow background color *!*/
/*}*/
/*$em-green: #007BC0;*/

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


