.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 2rem;
  width: 2rem;
  margin-left: 3rem
}


.tab-menu-container {
  display: flex;
}

.home-body-container {
  display: flex;
}

