.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 2rem;
  width: 2rem;
  margin-left: 3rem
}

.tab-menu-container {
  display: flex;
}

.p-tabmenu .p-tabmenu-nav {
  border: none !important;
}

.p-tabmenu-nav-content .p-menuitem-link {
  font-size: 24px;
  padding: 12px 48px;
}

.p-tabmenuitem.p-highlight .p-menuitem-link {
  color: chartreuse;
}

.tab-menu {
  width: 750px
}
