<div data-qa="category-creation-button-form" class="creation-button-form">
  <form class="form-container" [formGroup]="categoriesFormsService.$categoryCreationForm()"
        (ngSubmit)="createCategory($event)"
        data-qa="category-panel-category-creation-form">
    <!--    <span class="boschicon-bosch-ic-add add-icon cursor-pointer" data-qa="category-creation-form-icon"></span>-->
    <div class="input" data-qa="category-title">
      <div [class.missing-input]="categoriesFormsService.$categoryCreationForm().controls['title'].invalid"
           class="category-detail-input"
           data-qa="category-panel-category-title-input">
        <input
          inputId="create-category"
          pAutoFocus
          [autofocus]="true"
          (keydown.enter)="createCategory($event)"
          [placeholder]="'Category'"
          class="text-input"
          data-qa="category-panel-text-input-rc-title"
          formControlName="title"
        />

        <!--        [appCharacterLimit]="categoryPanelConstants().rcEditInputMaxLength"-->
      </div>
    </div>
    <div class="buttons" data-qa="category-panel-category-creation-buttons">
      <!--      [label]="'LABEL.CONFIRM' | translate"-->
      <!--      [submit]="true"-->
      <p-button
        [disabled]="categoriesFormsService.$categoryCreationForm().invalid"


        data-qa="category-panel-button-confirm-creation"
      />
      <!--      [label]="'LABEL.CANCEL' | translate"-->
      <!--      (onClick)="cancelCreation($event)"-->
      <p-button

        data-qa="category-panel-button-cancel-creation"
      />
    </div>
  </form>
</div>
