.missing-input {
  border-color: #f85149 !important;
}

.create-button {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 5px;

  &:hover {
    background-color: #cccccc;
  }
}

.creation-label {
  margin-left: 1rem;
}

.form-container {
  width: 90%;
  display: flex;
  align-items: center;
}
