@if (categoriesFormsService.$isCreating()) {
  <div data-qa="category-creation-button-form" class="creation-button-form">
    <form class="form-container" [formGroup]="categoriesFormsService.$categoryCreationForm()"
          (ngSubmit)="createCategory($event)"
          data-qa="category-panel-category-creation-form">
      <div class="input" data-qa="category-title">
        <div [class.missing-input]="categoriesFormsService.$categoryCreationForm().controls['title'].invalid"
             class="category-detail-input"
             data-qa="category-panel-category-title-input">
          <i class="pi pi-plus" style="font-size: 1rem"></i>
          <input
            type="text"
            pInputText
            inputId="create-category"
            [autofocus]="true"
            (keydown.enter)="createCategory($event)"
            [placeholder]="'Category'"
            class="text-input"
            data-qa="category-panel-text-input-rc-title"
            formControlName="title"
          />

          <!--        [appCharacterLimit]="categoryPanelConstants().categoryEditInputMaxLength"-->
        </div>
      </div>
      <div class="buttons" data-qa="category-panel-category-creation-buttons">
        <p-button
          [disabled]="categoriesFormsService.$categoryCreationForm().invalid"
          [label]="'Confirm'"
          type="submit"
          data-qa="category-panel-button-confirm-creation"></p-button>
        <p-button
          (onClick)="cancelCreation($event)"
          [label]="'Cancel'"
          data-qa="category-panel-button-cancel-creation"></p-button>
      </div>
    </form>
  </div>
} @else {
  <div class="cursor-pointer create-button" (click)="setCreating()">
    <i class="pi pi-plus" style="font-size: 1rem"></i>
    <div class="creation-label">{{ 'Create Category' }}</div>
  </div>
}

