.missing-input {
  border-color: #f85149 !important;
}

.create-button {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 5px;

  &:hover {
    background-color: #cccccc;
  }
}

.creation-icon {
  margin-right: 1rem;
  font-size: 1rem
}

.form-container {
  width: 90%;
  display: flex;
  align-items: center;
}

.category-detail-input:hover{
  background-color: #cccccc;
}
